*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    cursor: pointer;
}
ul{
    list-style: none;
}
input, select, button {
    outline: none;
}
body{
    font-family: "PingFang SC";
}
body{
    background: #f2f2f2;
}